
.mainWrapper{
    height: 3.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1.25rem;
    padding-right: 2rem;
    border-bottom: 1px solid #d6c8c8;
}

.LogoText{
    font-weight: bold;
    font-size: 1.5rem;
    user-select: none;
}

.searchWrapper{
    margin-left: 7rem;
    height: fit-content;
}

.searchInput{
    background-color: #efe8e8;
    height: 2rem;
    width: 20rem;
    border-radius: 1rem;
    padding-left: 1rem;
    border: 1px solid #d6c8c8;
    outline: none;
    user-select: none;
}

.rightSection{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notificationWrapper{
    padding: 5px 10px 5px 10px;
    border-right: 2px solid #d6c8c8;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accountWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #efe8e8;
    height: 2rem;
    width: fit-content;
    border-radius: 1rem;
}

.accountImageWrapper{
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    background-color: #d6c8c8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.accountIconWrapper{
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    /* background-color: #5e6382; */
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 767.98px) {

    .searchWrapper{
        display: none;
    }

    .rightSection{
        display: none;
    }

}






