

.tableHeadWrapper{
    /* background-color: #7c3535; */
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    resize: horizontal; 
    overflow: hidden; 
    min-width: 50px; 
    text-wrap: nowrap;
}

.indexWrapper{
    /* background-color: #908ec4; */
    height: 100%;
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrapper{
    /* background-color: #a22525; */
    width: 100%;
    display: flex;
    font-size: 1rem;

}

.titleWrapper{
    /* background-color: #28cb3e; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowContainer{
    /* background-color: #d3c0c0; */
    height: 30px;   
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowWrapper{
    /* background-color: #fff; */
    display: flex;
    height: fit-content;
    width: fit-content;
    opacity: 0.3;
}




