

.mainWrapper{
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem 1rem 0.75rem 1rem;  
    overflow: auto;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    display: flex;
    gap: 1rem;
    font-size: 0.90rem;
}

.subItems{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    gap: 0.5rem;
    text-wrap: nowrap;
}

.goTo{
    outline: none;
    border: 2px solid #d1d1d1;
    width: 30px;
}

.rowCountSelect{
    border: 2px solid #d1d1d1;
    padding: 0.25rem 1rem 0.25rem 1rem;
}

.paginationBtnGroup{
    width: fit-content;
    /* background-color: #6b5f5f; */
    /* border: 1px solid #000; */
    box-sizing: border-box;
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
}

.navigationBtn{
    box-sizing: border-box;
    /* background-color: #f0f2eb; */
    border: 2px solid #e0e0e0;
    cursor: pointer;
    user-select: none;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.navigationBtn:active{
    background-color: #eae1e1;
}

.pagesWrapper{
    /* background-color: #fff; */
    width: fit-content;
    box-sizing: border-box;
    /* border: 1px solid #000; */
    display: flex;
    gap: 1rem;
}

.pagesItem{

    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    padding: 0rem 1rem 0rem 1rem;
    cursor: pointer;
    user-select: none;
}

.pagesItem:hover{
    transform: scale(1.2);
}

.pagesItemSelected{

    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    box-sizing: border-box;
    border: 2px solid #aaaaaa;
    padding: 0rem 1rem 0rem 1rem;
    cursor: pointer;
    user-select: none;
    /* transform: scale(1.3); */
}





@media (max-width: 767.98px) {

    .subItems{
        display: none;
    }

    .pagesWrapper{
        display: none;
    }

}





