
.mainWrapper{
    /* background-color: #d2b5b5; */
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid #e0e0e0; */
}

.tableContent{
    width: 100%;
    background-color: #fff;
    overflow: auto;
    
}

.tableFooter{
    background-color: #8ded51;
    width: 100%;
    /* overflow: auto; */
}








